#/home/amytcheng/.scripts/conky.sh &
fbpanel &
/home/amytcheng/.scripts/randombackground.sh &
tidybattery &
sxhkd &
tidybattery &
twmnd &
volumeicon &
xcalib -co 70 -a &
xrdb ~/.Xresources &
xsetroot -cursor_name left_ptr &

