<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu id="root-menu" label="root-menu">
		<menu execute="openbox-menu /etc/xdg/menus/lxde-applications.menu" id="pipe-55151" label="Applications"/>
		<item label="Terminal">
			<action name="Execute">
				<execute>
					urxvt
				</execute>
			</action>
		</item>
		<item label="Exit">
			<action name="Execute">
				<execute>
					/home/amytcheng/.scripts/exit.sh
				</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
